*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #a085d3;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding:4px 20px;
}
#sidenav ul li{
    list-style: none;
    padding:20px;
    
}
#sidenav ul li a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
}
