*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F5f5dc;
}
a{
    text-decoration:none;
}
a:hover{
    cursor:pointer;
}
.navbar {
    width:100vw;
    height:80px;
    padding:20px;
    border-bottom: 1px solid rgba(146, 64, 14, 0.4);
}
.navbar ul {
    text-align: right;
}
.navbar ul li {
    display:inline;
    padding:0 20px 0 20px;
    font-size:1.3rem;
}
.navbar ul li a{
    color:#92400E;
}
.navbar span{
    font-size:1.3rem;
}
