*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #05021d;
}
a{
    text-decoration:none;
}
.menu ul{
    text-align: right;
    padding:10px;
}
.menu ul li {
    display:inline;
    margin:10px;
}
.menu ul li a {
    color:#555454;
   
    transition-property: color;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.menu ul li a:hover{
    color:#b9b9b9;
    
}
.welcome-message{
    width:100vw;
    height:500px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.welcome-message h2{
    color:white;
}